
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

html,body {
    --main-bg-color: #f8f8f8;
    background-color: var(--main-bg-color) !important;
    scrollbar-gutter: stable;
}

body {
    padding: 20px !important;
}

.linkColor {
    color: #6f5cf1
}
